@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #3F72EC;
}

p,h1, input, button{
    padding: 10px;
    margin: 15px 0;
    text-align: center;
    font-family: "Montserrat", serif;
}

input{
    font-size: 20px;
    font-weight: 600;
}

.box{
    display: inline-block;
    border: 1px solid #503e3e8c;
    padding: 30px;
    border-radius: 6px;
    background-color: #fff;
}

.row>input{
    width: 40px;
    height: 40px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

button{
    width: 120px;
    border: none;
    border-radius: 2px;
    background-color: #3F72EC;
    color: #f3ebeb;
    cursor: pointer;
}

.redback{
    background-color: #E9031B;
}

span{
    color: #E9031B;
    text-decoration: underline;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid #3F72EC;
}

@media (max-width: 630px){

    p,h1, input, button{
        padding: 5px;
        margin: 10px 0;
    }

    h1{
        font-size: 18px;
    }

    p{
        font-size: 13px;
    }

    input{
        font-size: 16px;
        font-weight: 500;
    }

    .box{
        padding: 20px;
    }

    .row>input{
        width: 30px;
        height: 30px;
    }

    .buttons{
        gap: 20px;
    }

}

@media (max-width: 450px){

    p,h1, input, button{
        margin: 8px 0;
    }

    h1{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }


    input{
        font-size: 14px;
        font-weight: 400;
    }

    .box{
        padding: 15px;
    }

    .row>input{
        width: 26px;
        height: 26px;
    }

    .buttons{
        gap: 15px;
    }
    
}

@media (max-width: 400px){

    p,h1, input, button{
        margin: 8px 0;
    }

    input{
        font-size: 12px;
        font-weight: 400;
    }

    .box{
        padding: 10px;
    }

    h1{
        font-size: 14px;
    }

    p{
        font-size: 11px;
    }

    .row{
        width: 60%;
        border: 1px solid;
        text-align: center;
        margin: auto;
    }

    .row>input{
        width: 30px;
        height: 30px;
    }

    .buttons{
        gap: 15px;
    }

    button{
        width: 60px;
        font-size: 9px;
    }
    
}

@media (max-width: 360px){

    p,h1, input, button{
        margin: 6px 0;
    }

    input{
        font-size: 11px;
        font-weight: 400;
    }

    .box{
        padding: 10px;
    }

    h1{
        font-size: 13px;
    }

    p{
        font-size: 10px;
    }

    .row{
        width: 55%;
        border: 1px solid;
        text-align: center;
        margin: auto;
    }

    .row>input{
        width: 20px;
        height: 20px;
    }

    .buttons{
        gap: 15px;
    }

    button{
        width: 60px;
        font-size: 9px;
    }
    
}