@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #3F72EC;
}

p,h1, input, button{
    padding: 10px;
    margin: 15px 0;
    font-family: "Montserrat", serif;
}

input{
    font-size: 20px;
    font-weight: 600;
    
}

.box{
    display: inline-block;
    border: 1px solid #503e3e8c;
    padding: 30px;
    border-radius: 6px;
    background-color: #fff;
}

.row>input{
    width: 40px;
    height: 40px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

button{
    width: 120px;
    border: none;
    border-radius: 2px;
    background-color: #3F72EC;
    color: #f3ebeb;
    cursor: pointer;
}

.redback{
    background-color: #E9031B;
}

span{
    color: #E9031B;
    text-decoration: underline;
    cursor: pointer;
}